:javascript
  // POKEMON_SIGHTINGS_API_PT = "/api/pokemon_sightings";
  GOOGLE_API_KEY = "REPLACE_WITH_API_KEY_IN_M4_BRIEF";
  POKEDEX_URL = "https://pokeapi.co/api/v2/pokemon/";
  GEO_DISTANCE_URL = "https://maps.googleapis.com/maps/api/distancematrix/json";

  $(function() {
    console.log("#2 POKEMON SIGHTINGS");
    loadGoogleMaps();
  });

  // Loads the Maps Javascript API 
  // https://developers.google.com/maps/documentation/javascript
  loadGoogleMaps = function() {
    var script;
    script = $("<script>").attr('src', 'https://maps.googleapis.com/maps/api/js?key=' + GOOGLE_API_KEY + '&callback=initMap').attr('async', 'async');
    return $("head").append(script);
  };
  initMap = function() {
    console.log("GMaps loaded");
    return main();
  };

  // This function is called onced the Maps JS API has loaded.
  main = function() {
    // TODO - YOUR CODE HERE
  };

    
          
/ DO NOT MODIFY CODE UNDER THIS LINE      
/ ----------------------------------

/ POKEMON SIGHTINGS
.ui.grid.centered
  #sightings.panel.fw
    %h1.header.ui Pokemon Sightings
    %table.fw
      / ROW TEMPLATE
      / Remove the .template class to view the starter HTML
      %tr.template
        %td 
          %img{src: "", alt:"todo:pokemon's name"}
        %td 
          .ui.statistic
            .label Distance Away
            .value
              %span.distance -
              
:scss
  .panel{
    margin-top: 60px;
  }
  .fw{ /* Full Width */
    width: 100%;
  }
  .template{
    display: none;
  }